.background-step3 {
  padding: 62px 110px 0px 110px;
  width: 900px;
  height: 500px;
}
.step3-form input {
  width: 680px;
  height: 84px;
}
.modal,
.hidden {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.hidden {
  background: rgba(0, 0, 0, 0.16);
}
