.background-step2 {
  padding: 62px 110px 0px 110px;
  width: 900px;
  min-height: 800px;
}
.checkbox-input input {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.24);
}
.checkbox-input {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.step-input span {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}